body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "IBM Plex Mono", monospace;
}

.container {
  background-color: rgb(243, 240, 228);
  margin: 50px;
  display: grid;
  grid-template-columns: max-content max-content 1fr min-content;
  grid-template-rows: 133px;
  grid-template-areas:
    "bx bx . ."
    "hd hd . ."
    ". hd-sm hd-lg hd-lg"
    ". p p p"
    ". en . box";
  /* gap: 2px; */
}

.item {
  letter-spacing: 1.4px;
  margin: 0;
}

.blackbox {
  background-color: black;
  /* height: 20px;/ */
  grid-area: bx;
}

.header {
  grid-area: hd;
  font-size: 50px;
  color: red;
}

.sm-header {
  grid-area: hd-sm;
  align-self: end;
  font-size: 20px;
  color: red;
}

.lg-header {
  grid-area: hd-lg;
  font-size: 40px;
}

.parag {
  grid-area: p;
  color: grey;
  padding: 10px;
}

.entry {
  grid-area: en;
  font-size: 25px;
  color: red;
}

.box {
  grid-area: box;
  color: red;
  border: 10px solid black;
  padding: 10px;
}
